{% extends "teacher/navigate.html" %} {% block mainbody %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta charset="utf-8" />
    <script src="/static/js/echarts.js"></script>
</head>
<title>作业情况</title>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--overview start-->
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-header"><i class="fa fa-search"></i>作业情况</h4>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/teacher">主页</a></li>
                        <li><i class="fa fa-search"></i>作业情况</li>
                    </ol>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock %}